#ad {
  /* * {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  } */
  /* css selectors for printing */
}
#ad .sectionHeadContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 16px;
  z-index: 2;
}
#ad .sectionHeadContainer .sectionHeader {
  width: auto;
  height: auto;
  text-align: center;
  white-space: nowrap;
}
#ad .sectionHeadContainer .bannerContainer {
  position: relative;
  filter: drop-shadow(2px 2px 2px rgba(50, 50, 0, 0.35));
}
#ad .sectionHeadContainer .bannerContainer .tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #0C5900;
  color: white;
  padding: 0 80px;
}
#ad .sectionHeadContainer .bannerContainer .bannerBack {
  width: 90px;
  height: 50px;
  position: absolute;
  background: #0C5900;
}
#ad .sectionHeadContainer .bannerContainer .left {
  left: 0;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  transform: translate(-40px, -60px);
}
#ad .sectionHeadContainer .bannerContainer .right {
  right: 0;
  transform: translate(60px, -60px);
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
#ad h1,
#ad h2,
#ad h3,
#ad h4,
#ad a {
  font-family: "myriad-pro-semi-condensed", sans-serif;
}
#ad h1 {
  font-size: calc(24px + 6 * (100vw - 320px) / 680);
}
#ad .card {
  display: flex;
  position: relative;
  width: 200px;
  max-width: 300px;
  padding: 8px 9px;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  border-radius: 10px;
  background: var(--offwhite, #EDEAE7);
  /* Soft Drop */
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
#ad .card > img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
  width: 100%;
  aspect-ratio: 1;
  background: white;
}
#ad .card > .cardTextContainer {
  display: flex;
  padding: 13px 7px 0;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 0.25em;
  font-size: 16px;
}
#ad .card > .cardTextContainer > h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin: 0;
}
#ad .card > .cardTextContainer > h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  margin: 0;
  font-size: 1em;
}
#ad .card > .cardTextContainer > p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.4px;
  margin: 0;
}
#ad .card > .cardTextContainer sup {
  font-size: 3em;
  margin: 0.1em 0;
}
#ad .card > .cardTextContainer .dollar {
  font-size: 6em;
  margin: 0;
}
#ad .card > .cardTextContainer .percentOff {
  font-size: 3em;
  margin: 18px 0 0 0;
  line-height: 100%;
}
#ad .card > .cardTextContainer .specialtyAmnt {
  font-size: 1.5em;
  line-height: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
#ad .card > .cardTextContainer .specialtyAmnt span {
  font-size: 1.75em;
}
#ad .card .additionalText {
  font-family: "myriad-pro-condensed", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}
#ad .save {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 35%;
  right: -6%;
  filter: drop-shadow(2px 2px 2px rgba(50, 50, 0, 0.35));
}
#ad .save .star {
  background: #FFE600;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 67% 26%, 98% 35%, 76% 59%, 79% 91%, 49% 77%, 21% 91%, 22% 61%, 2% 35%, 32% 26%);
          clip-path: polygon(50% 0%, 67% 26%, 98% 35%, 76% 59%, 79% 91%, 49% 77%, 21% 91%, 22% 61%, 2% 35%, 32% 26%);
}
#ad .save p {
  font-size: 24px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  position: relative;
  text-align: center;
  line-height: 100%;
}
#ad .save span {
  color: red;
  font-family: "Permanent Marker", cursive;
}
#ad .badgeContainer {
  display: flex;
  flex-direction: column;
  width: 60px;
  gap: 6px;
  position: absolute;
  top: 0;
  left: -4px;
}
#ad .badgeContainer .badge {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}
#ad .priceContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #000;
  margin: -0.85em 0 0 0;
  /* typography */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.187px;
}
#ad .priceContainer > div {
  display: flex;
  padding-top: 6.375px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}
#ad .priceContainer .unit {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
}
#ad .menuItem:hover > .add {
  opacity: 1;
}
#ad .menuItem .add {
  opacity: 0.5;
}
#ad .menuItem .priceContainer {
  font-size: 10px;
}
#ad .menuItem .badgeContainer {
  display: none;
}
#ad .listCard {
  /* layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: auto;
  padding: 8px 9px;
  gap: 10px;
  /* style */
  border-radius: 10px;
  background: #EDEAE7;
  /* Soft Drop */
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  transition: transform 100ms cubic-bezier(0.15, 0, 0.17, 1.02), box-shadow 100ms cubic-bezier(0.15, 0, 0.17, 1.02);
}
#ad .listCard:hover {
  transform: translate(-1px, -2.5px);
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.36), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
#ad .listCard > img {
  border-radius: 13px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 130px;
  height: 100px;
}
#ad .listCard > .cardTextContainer {
  display: flex;
  padding: 7px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}
#ad .listCard > .cardTextContainer > h2 {
  color: #0C5900;
  font-family: "myriad-pro-semi-condensed", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 126.6%;
  /* 25.32px */
  letter-spacing: -0.8px;
  margin: 0;
}
#ad .listCard > .cardTextContainer > p {
  color: #0C5900;
  font-family: "myriad-pro-semi-condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120.6%;
  /* 19.296px */
  letter-spacing: -0.4px;
  margin: 0;
}
#ad .listCard > .cardTextContainer .deleteButton {
  position: absolute;
  top: -8px;
  left: -16px;
  color: darkred;
  /* height: 40px; */
  padding: 5px;
}
#ad .listCard > .cardTextContainer .quantityControls {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* typography */
  font-family: "myriad-pro-semi-condensed", sans-serif;
  font-weight: 500;
  color: #0C5900;
}
#ad .listCard > .cardTextContainer .quantityControls .quantityButton {
  cursor: pointer;
}
#ad .button {
  /* style */
  border-radius: 200px;
  border: 3px solid #C6BCB3;
  background: #EDEAE7;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
#ad .print {
  padding: 14px;
  z-index: 1001;
  border-radius: 12px;
  border: 3px solid rgba(0, 0, 0, 0.25);
  background: rgba(237, 234, 231, 0.65);
  cursor: pointer;
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  color: rgba(0, 0, 0, 0.75);
}
#ad #toolbar {
  /* layout */
  position: fixed;
  width: auto;
  bottom: 36px;
  left: 36px;
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 14px;
  /*     .filterButton {
      @include button();
      @include buttonTypography();
      width: auto;
  } */
}
#ad #toolbar * {
  color: rgba(0, 0, 0, 0.75);
}
#ad #toolbar *:not(.material-symbols-outlined) {
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  /* 25.32px */
  letter-spacing: -0.8px;
  margin: 0;
}
#ad #toolbar > * {
  padding: 14px;
  z-index: 1001;
  /* style */
  border-radius: 12px;
  border: 3px solid rgba(0, 0, 0, 0.25);
  background: rgba(237, 234, 231, 0.65);
  cursor: pointer;
  /* effects */
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
}
#ad #toolbar .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  width: auto;
  position: relative;
  /* h1 {
      font-family: $font-family;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 126.6%;
  } */
}
#ad #toolbar .header #listCounter {
  position: absolute;
  top: -13px;
  right: -12px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* style */
  background: rgb(68, 117, 82);
  /* typography */
  font-size: 14px;
  color: #EDEAE7 !important;
  font-family: "myriad-pro-semi-condensed", sans-serif;
  font-weight: 300;
}
#ad #toolbar .header .listIcon {
  font-size: 32px;
  line-height: 0;
}
#ad #toolbar label {
  display: none;
}
#ad #toolbar select {
  text-transform: capitalize;
}
#ad #toolbar .copycat {
  position: absolute;
  left: -99999px;
  width: auto;
}
#ad #totalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0px 10px;
  margin: 6px;
  border-radius: 12px;
  border: 3px solid #C6BCB3;
  background: #EDEAE7;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #888079;
  line-height: normal;
  font-style: normal;
  margin: 0;
  padding: 15px 10px;
  height: auto;
  color: black;
  font-weight: 600;
}
#ad .dragIcon {
  color: #C6BCB3;
  padding: 34px 0;
  cursor: grab;
}
#ad .buttonInline {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 0px 8px 0 1px;
  margin: 0;
  /* style */
  border-radius: 100px;
  border: 3px solid #C6BCB3;
  background: #EDEAE7;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  /* typography */
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  color: #888079;
  line-height: normal;
  font-style: normal;
  cursor: pointer;
  position: absolute;
  right: -6px;
  z-index: 1;
}
#ad .add {
  top: -4px;
}
#ad .lower {
  top: 30px;
}
#ad .seeMenuButton {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 0px 8px 0 1px;
  margin: 0;
  /* style */
  border-radius: 100px;
  border: 3px solid #C6BCB3;
  background: #EDEAE7;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  /* typography */
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  color: #888079;
  line-height: normal;
  font-style: normal;
  cursor: pointer;
  top: -4px;
  gap: 7px;
}
#ad .scrollContainer {
  /* layout */
  display: none;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  position: fixed;
  overflow-y: scroll;
  scroll-behavior: smooth;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 14px;
  z-index: 1001;
  /* style */
  background: rgba(0, 0, 0, 0.35);
  /* effects */
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
#ad .scrollContainer #listCardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  overflow: visible;
  position: relative;
}
#ad .scrollContainer #listCardContainer > :last-child {
  margin-bottom: 300px;
}
#ad .scrollContainer #listControls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 11px;
  position: sticky;
  top: 0;
}
#ad .scrollContainer #listControls #scrollPrint {
  align-items: center;
  justify-content: center;
  background: #EDEAE7;
}
#ad .showCards {
  display: flex !important;
}
#ad .noScroll {
  overflow: hidden;
}
#ad .ghost {
  opacity: 0.5;
}
@media only screen and (max-width: 600px) {
  #ad .card {
    width: 140px;
  }
  #ad .scrollContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #ad .scrollContainer #listCardContainer {
    order: 2;
    width: 92vw;
  }
  #ad .scrollContainer #listControls {
    order: 1;
    flex-direction: row;
  }
}
@media print {
  #ad body :not(.scrollContainer *):not(.scrollContainer) {
    display: none !important;
  }
  #ad .scrollContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: visible;
    background: white;
    box-shadow: none;
  }
  #ad .scrollContainer #listCardContainer {
    display: flex;
    order: 2;
    height: auto;
    max-height: none;
    width: 100vw;
  }
  #ad .scrollContainer #listCardContainer .listCard {
    background-color: white !important;
    width: 90vw !important;
  }
  #ad .scrollContainer #listCardContainer .listCard > .cardTextContainer .deleteButton {
    display: none;
  }
  #ad .scrollContainer #listControls {
    order: 1;
    flex-direction: row;
  }
  #ad .scrollContainer #listControls #scrollPrint {
    display: none;
  }
}
#ad #ad {
  padding: 16px;
}
#ad id-element {
  display: none;
}
#ad #weeklyadContainer {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ad .cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
#ad .menuContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-grow: 1;
  /* &:hover > .menuItemContainer {
  	display: flex;
  } */
}
#ad .menuContainer .menuItemContainer {
  display: none;
  gap: 10px;
  flex-direction: column;
  max-height: 420px;
  flex-wrap: wrap;
  flex-grow: 1;
}
#ad .menuContainer .menuItemContainer .menuItem {
  order: 1;
  width: auto;
  min-width: 150px;
}
#ad .menuContainer .menuItemContainer .menuItem .cardTextContainer {
  gap: 0;
  padding: 0;
}
#ad .menuContainer .menuItemContainer .menuSpacer {
  order: 2;
  flex-grow: 9999999;
}
#ad .flex {
  display: flex !important;
}/*# sourceMappingURL=main.css.map */