// Variables
$font-family: 'SF Pro Display', sans-serif;
$menu-black: rgba(0, 0, 0, 0.75);
$menu-grey: rgba(0, 0, 0, 0.25);
$offwhite: #EDEAE7;
$dark-green: #0C5900;
$soft-drop: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.30);

// Mixins
@mixin card-styles {
    // Common card styles
    border-radius: 10px;
    background: $offwhite;
    box-shadow: $soft-drop;
    /* transition: transform 100ms cubic-bezier(0.15, 0, 0.17, 1.02),
                box-shadow 100ms cubic-bezier(0.15, 0, 0.17, 1.02); */
}



* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.listDropdown {
    /* layout */
    position: fixed;
    width: auto;
    bottom: 36px;
    left: 36px;
    z-index: 10;


    .toolBar {
        display: flex;
        flex-direction: row;
        gap: 14px;

        * {
            color: $menu-black;
        }

        >* {
            padding: 14px;
            z-index: 1001;
            /* style */
            border-radius: 12px;
            border: 3px solid $menu-grey;
            background: rgba(237, 234, 231, 0.65);
            cursor: pointer;
            /* effects */
            box-shadow: $soft-drop;
            backdrop-filter: blur(32px);
        }

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 14px;
            width: auto;

            h1 {
                /* color: $dark-green; */
                font-family: $font-family;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 126.6%;
                white-space: nowrap;
                /* 25.32px */
                letter-spacing: -0.8px;
                margin: 0;
            }

            #listCounter {
                position: absolute;
                top: -13px;
                right: -12px;

                height: 24px;
                width: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                /* style */
                background: rgb(68, 117, 82);
                /* typography */
                font-size: 14px;
                color: $offwhite !important;
                font-family: $font-family;
                font-weight: 300;
            }
        }
    }
}

.scrollContainer {
    /* layout */
    display: none;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    position: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    padding: 14px;
    z-index: 1001;

    /* style */
    //border-radius: 12px;
    //border: 3px solid $menu-grey;
    background: rgba(0, 0, 0, 0.35);

    /* effects */
    box-shadow: $soft-drop;
    backdrop-filter: blur(2px);

    #listCardContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        //margin-top: 10px;
        max-width: 450px;
        overflow: visible;
        position: relative;
        //max-height: 80vh;

        > :last-child {
            padding-bottom: 300px;
        }

        .listCard {
            /* layout */
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            height: auto;
            padding: 8px 9px;
            gap: 10px;
            /* style */
            cursor: grab;
            border-radius: 10px;
            background: $offwhite;
            /* Soft Drop */
            box-shadow: $soft-drop;
            transition: transform 100ms cubic-bezier(0.15, 0, 0.17, 1.02),
                box-shadow 100ms cubic-bezier(0.15, 0, 0.17, 1.02);

            >img {
                border-radius: 13px;
                object-fit: cover;
                width: 130px;
                height: 100px;
            }

            >.cardTextContainer {
                display: flex;
                padding: 7px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 6px;

                >h2 {
                    color: $dark-green;
                    font-family: $font-family;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 126.6%;
                    /* 25.32px */
                    letter-spacing: -0.8px;

                    margin: 0;
                }

                >p {
                    color: $dark-green;
                    font-family: $font-family;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120.6%;
                    /* 19.296px */
                    letter-spacing: -0.4px;

                    margin: 0;
                }

                .deleteButton {
                    position: absolute;
                    top: -8px;
                    left: -16px;

                    color: darkred;
                    height: 40px;
                    padding: 5px 7px 0px;
                }

                .quantityControls {
                    /* layout */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    /* typography */
                    font-family: $font-family;
                    font-weight: 500;
                    color: $dark-green;

                    .quantityButton {
                        cursor: pointer;
                    }
                }
            }
        }

        .listCard:hover {
            transform: translate(-1px, -2.5px);
            box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.36), 1px 1px 2px 0px rgba(0, 0, 0, 0.30);
        }
    }

    #listControls {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 11px;
        position: sticky;
        top: 0;

        #scrollPrint {
            //height: 24px;
            align-items: center;
            justify-content: center;
            background: $offwhite;
        }

        #totalButton {
            @include card-styles();
        }
    }
}

.showCards {
    display: flex !important;
}

.noScroll {
    overflow: hidden;
}

.button {
    /* style */
    border-radius: 200px;
    border: 3px solid #C6BCB3;
    background: #EDEAE7;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.print {
    padding: 14px;
    z-index: 1001;
    border-radius: 12px;
    border: 3px solid $menu-grey;
    background: rgba(237, 234, 231, 0.65);
    cursor: pointer;
    box-shadow: $soft-drop;
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    color: $menu-black;
}


.ghost {
    opacity: .5;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 140px;
    }

    .scrollContainer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        #listCardContainer {
            order: 2;
            width: 92vw;
        }

        #listControls {
            order: 1;
            flex-direction: row;
        }
    }
}

    /* css selectors for printing */
    @media print {
        body :not(.scrollContainer *):not(.scrollContainer) {
            display: none !important;
        }

        .scrollContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            overflow: visible;
            background: white;
            box-shadow: none;

            #listCardContainer {
                display: flex;
                order: 2;
                height: auto;
                max-height: none;
                width: 100vw;

                .listCard {
                    background-color: white !important;
                    width: 90vw !important;

                    >.cardTextContainer .deleteButton {
                        display: none;
                    }
                }
            }

            #listControls {
                order: 1;
                flex-direction: row;

                #scrollPrint {
                    display: none;
                }
            }
        }
    }