.listDropdown {
    /* layout */
    position: fixed;
    width: auto;
    bottom: 36px;
    left: 36px;


    .toolBar {
        display: flex;
        flex-direction: row;
        gap: 14px;

        * {
            color: var(--menu-black, rgba(0, 0, 0, 0.75));
        }

        >* {
            padding: 14px;
            z-index: 1001;
            /* style */
            border-radius: 12px;
            border: 3px solid var(--menu-grey, rgba(0, 0, 0, 0.25));
            background: rgba(237, 234, 231, 0.65);
            cursor: pointer;
            /* effects */
            box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.30);
            backdrop-filter: blur(32px);
        }

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 14px;
            width: auto;

            h1 {
                /* color: var(--dark-green, #0C5900); */
                font-family: SF Pro Display;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 126.6%;
                white-space: nowrap;
                /* 25.32px */
                letter-spacing: -0.8px;
                margin: 0;
            }
        }
    }
}

.scrollContainer {
    /* layout */
    display: none;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;


    padding: 14px;
    z-index: 1001;

    /* style */
    //border-radius: 12px;
    //border: 3px solid var(--menu-grey, rgba(0, 0, 0, 0.25));
    background: rgba(0, 0, 0, 0.35);

    /* effects */
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(2px);


    /*     #listFlex {
        display: flex;
        gap: 15px; */

    #listCardContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        //margin-top: 10px;
        max-width: 450px;
        overflow: visible;
        position: relative;
        max-height: 80vh;

        > :last-child {
            padding-bottom: 300px;
        }

        .listCard {
            /* layout */
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            height: auto;
            padding: 8px 9px;
            gap: 10px;
            /* style */
            cursor: grab;
            border-radius: 10px;
            background: var(--offwhite, #EDEAE7);
            /* Soft Drop */
            box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.30);
            transition: transform 100ms cubic-bezier(0.15, 0, 0.17, 1.02),
                box-shadow 100ms cubic-bezier(0.15, 0, 0.17, 1.02);

            >img {
                border-radius: 13px;
                object-fit: cover;
                width: 130px;
                height: 100px;
            }

            >.cardTextContainer {
                display: flex;
                padding: 7px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 6px;

                >h2 {
                    color: var(--dark-green, #0C5900);
                    font-family: SF Pro Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 126.6%;
                    /* 25.32px */
                    letter-spacing: -0.8px;

                    margin: 0;
                }

                >p {
                    color: var(--dark-green, #0C5900);
                    font-family: SF Pro Display;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120.6%;
                    /* 19.296px */
                    letter-spacing: -0.4px;

                    margin: 0;
                }
            }
        }

        .listCard:hover {
            transform: translate(-1px, -2.5px);
            box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.36), 1px 1px 2px 0px rgba(0, 0, 0, 0.30);
        }
    }
}



.showCards {
    display: flex !important;
}

.noScroll {
    overflow: hidden;
}

.button {
    /* style */
    border-radius: 200px;
    border: 3px solid #C6BCB3;
    background: #EDEAE7;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

#listCounter {
    position: absolute;
    top: -13px;
    right: -12px;

    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* style */
    background: rgb(68, 117, 82);
    /* typography */
    font-size: 14px;
    color: var(--offwhite, #EDEAE7) !important;
    font-family: SF Pro Display, sans-serif;
    font-weight: 300;
}

.deleteButton {
    position: absolute;
    top: -8px;
    left: -16px;

    color: darkred;
    height: 30px;
    padding: 5px 7px 0px;
}

.print {
    padding: 14px;
    z-index: 1001;
    border-radius: 12px;
    border: 3px solid var(--menu-grey, rgba(0, 0, 0, 0.25));
    background: rgba(237, 234, 231, 0.65);
    cursor: pointer;
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    color: var(--menu-black, rgba(0, 0, 0, 0.75));
}

#scrollPrint {
    position: sticky;
    //height: 24px;
    top: 0px;

}



/* css selectors for printing */
@media print {
    body :not(.listDropdown *):not(.listDropdown) {
        display: none !important;
    }

    .listDropdown {
        background-color: white !important;
        width: 96vw !important;
        position: relative;

        .scrollContainer {
            overflow: visible;

            #listCardContainer {
                display: flex;
                height: auto;
                max-height: none;

                .listCard {
                    background-color: white !important;
                    width: 90vw !important;
                }
            }
        }
    }
}