@import '../abstract/mixins';
@import '../abstract/variables';

id-element {
	display: none;
}

#weeklyadContainer {
	//width: 95vw;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 60px;
	margin-top: 60px;
}

.cardContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	//gap: 16px;
	gap: $scaling-padding;
	padding: $scaling-padding;

	/* styling */
	border-radius: 16px;
	background: #E3E1DE;
	box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.30) inset;
}

.menuContainer {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-grow: 1;

	/* &:hover > .menuItemContainer {
		display: flex;
	} */

	.menuItemContainer {
		display: none;
		gap: 10px;
		flex-direction: column;
		max-height: 420px;
		flex-wrap: wrap;
		flex-grow: 1;

		.menuItem {
			order: 1;
			//margin: 0 0 10px 0;
			width: auto;
			min-width: 150px;

			.cardTextContainer {
				gap: 0;
				padding: 0;
			}
		}

		.menuSpacer {
			order: 2;
			flex-grow: 9999999;
		}
	}
}

.headerImg {
	width: 320px;
	top: 0;
	right: 0;
	position: absolute;
	overflow: hidden;
	border-radius: 0 16px;
}

.flex {
	display: flex !important;
}

.inline {
    position: relative !important;
}