.listDropdown {
  /* layout */
  position: fixed;
  width: auto;
  bottom: 36px;
  left: 36px;
  z-index: 10;
}
.listDropdown .toolBar {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.listDropdown .toolBar * {
  color: rgba(0, 0, 0, 0.75);
}
.listDropdown .toolBar > * {
  padding: 14px;
  z-index: 1001;
  /* style */
  border-radius: 12px;
  border: 3px solid rgba(0, 0, 0, 0.25);
  background: rgba(237, 234, 231, 0.65);
  cursor: pointer;
  /* effects */
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
}
.listDropdown .toolBar .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px;
  width: auto;
  position: relative;
}
.listDropdown .toolBar .header h1 {
  /* color: $dark-green; */
  font-family: "myriad-pro-semi-condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 126.6%;
  white-space: nowrap;
  /* 25.32px */
  letter-spacing: -0.8px;
  margin: 0;
}
.listDropdown .toolBar .header #listCounter {
  position: absolute;
  top: -13px;
  right: -12px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* style */
  background: rgb(68, 117, 82);
  /* typography */
  font-size: 14px;
  color: #EDEAE7 !important;
  font-family: "myriad-pro-semi-condensed", sans-serif;
  font-weight: 300;
}
.listDropdown .toolBar .listIcon {
  font-size: 24px;
}

/* .shoppingListLayout {

    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    //overflow: auto;
    padding: 14px;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
} */
.scrollContainer {
  /* layout */
  display: none;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  position: fixed;
  overflow-y: scroll;
  scroll-behavior: smooth;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 14px;
  z-index: 1001;
  /* style */
  background: rgba(0, 0, 0, 0.35);
  /* effects */
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.scrollContainer #listCardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  overflow: visible;
  position: relative;
}
.scrollContainer #listCardContainer > :last-child {
  margin-bottom: 300px;
}
.scrollContainer #listControls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 11px;
  position: sticky;
  top: 0;
}
.scrollContainer #listControls #scrollPrint {
  align-items: center;
  justify-content: center;
  background: #EDEAE7;
}

.showCards {
  display: flex !important;
}

.noScroll {
  overflow: hidden;
}

.ghost {
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 140px;
  }
  .scrollContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .scrollContainer #listCardContainer {
    order: 2;
    width: 92vw;
  }
  .scrollContainer #listControls {
    order: 1;
    flex-direction: row;
  }
}
/* css selectors for printing */
@media print {
  body :not(.scrollContainer *):not(.scrollContainer) {
    display: none !important;
  }
  .scrollContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: visible;
    background: white;
    box-shadow: none;
  }
  .scrollContainer #listCardContainer {
    display: flex;
    order: 2;
    height: auto;
    max-height: none;
    width: 100vw;
  }
  .scrollContainer #listCardContainer .listCard {
    background-color: white !important;
    width: 90vw !important;
  }
  .scrollContainer #listCardContainer .listCard > .cardTextContainer .deleteButton {
    display: none;
  }
  .scrollContainer #listControls {
    order: 1;
    flex-direction: row;
  }
  .scrollContainer #listControls #scrollPrint {
    display: none;
  }
}/*# sourceMappingURL=shoppingList.css.map */