@import '../abstract/mixins';
@import '../abstract/variables';

.button {
    /* style */
    border-radius: 200px;
    border: 3px solid #C6BCB3;
    background: #EDEAE7;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.print {
    padding: 14px;
    z-index: 1001;
    border-radius: 12px;
    border: 3px solid $menu-grey;
    background: rgba(237, 234, 231, 0.65);
    cursor: pointer;
    box-shadow: $soft-drop;
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    color: $menu-black;
}

#filterControls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    label {
        display : none;
    }

    .filterButton {
        @include button();
        @include buttonTypography();
        width: auto;
    }
}

#totalButton {
    @include button();
    @include buttonTypography();

    margin: 0;
    padding: 15px 10px;
    height: auto;
    color: black;
    font-weight: 600;

}

.dragIcon {
    color: $warm-grey;
    padding: 34px 0;
    cursor: grab;
}